<app-navigation></app-navigation>

<!-- Existing studies -->
<div class="demo-container p-mx-6 p-p-0 p-p-sm-1 p-p-md-2 p-p-lg-6">
    <p-card>
        <div class="p-grid p-mx-5">
            <div class="p-col-12">
                <h3 class="table-title">RESPONDER ENCUESTA</h3>
            </div>
        </div>
        <hr>
        <!-- SURVEY -->
        <div *ngIf="preguntas && !loading">
            <form novalidate [formGroup]="surveyForm" #sform="ngForm" (ngSubmit)="onSubmit()">
                <div formArrayName="answers">
                    <div *ngFor="let alias of surveyForm.get('answers').controls; let i=index; trackBy:track"
                        [formGroupName]="i">
                        <div class="p-mx-5">
                            <p>{{preguntas[i].fkPregunta.pregunta}}</p>
                            <small *ngIf="preguntas[i].fkPregunta.fkTipoPregunta._id == 5">Valores permitidos: Desde
                                {{preguntas[i].fkPregunta.listPosibleRespuestas[0].fkOpcion.rangoInicial}} hasta
                                {{preguntas[i].fkPregunta.listPosibleRespuestas[0].fkOpcion.rangoFinal}}</small>
                        </div>

                        <!-- RESPONSES OPEN TEXT -->
                        <div class="p-grid p-mx-5 p-mt-4" *ngIf="preguntas[i].fkPregunta.fkTipoPregunta._id == 1">
                            <div class="p-col-12 p-lg-6">
                                <label for="float-input">Respuesta</label>
                                <input class="p-inputtext-lg fill-width" formControlName="respuesta_texto" type="text"
                                    pInputText>
                                <span class="error-msg"
                                    *ngIf="answers.controls[i].get('respuesta_texto').touched && answers.controls[i].get('respuesta_texto').errors?.required"><small>{{validationMessages.respuesta_texto.required}}</small></span>
                            </div>
                        </div>

                        <!-- RESPONSES SIMPLE SELECTION -->
                        <div class="p-grid p-mx-6 p-mt-4" *ngIf="preguntas[i].fkPregunta.fkTipoPregunta._id == 2">
                            <div class="p-col-12" *ngFor="let opcion of preguntas[i].fkPregunta.listPosibleRespuestas">
                                <p-radioButton formControlName="opcion_seleccionada" [value]="opcion.fkOpcion._id"
                                    [label]="opcion.fkOpcion.valor" class="p-mb-3"></p-radioButton>
                                <span class="error-msg"
                                    *ngIf="answers.controls[i].get('opcion_seleccionada').touched && answers.controls[i].get('opcion_seleccionada').errors?.required"><small>{{validationMessages.opcion_seleccionada.required}}</small></span>
                            </div>
                        </div>

                        <!-- RESPONSES MULTIPLE SELECTION -->
                        <div class="p-grid p-mx-6 p-mt-4" *ngIf="preguntas[i].fkPregunta.fkTipoPregunta._id == 3">
                            <div class="p-col-12" *ngFor="let opcion of preguntas[i].fkPregunta.listPosibleRespuestas">
                                <p-checkbox formControlName="opcion_seleccionada" [label]="opcion.fkOpcion.valor"
                                    [value]="opcion.fkOpcion._id" class="p-mb-3"></p-checkbox>
                            </div>
                            <div class="p-col-12">
                                <span class="error-msg"
                                    *ngIf="answers.controls[i].get('opcion_seleccionada').touched && answers.controls[i].get('opcion_seleccionada').errors?.required"><small>{{validationMessages.opcion_seleccionada.required}}</small></span>
                            </div>
                        </div>

                        <!-- RESPONSES TRUE/FALSE -->
                        <div class="p-grid p-mx-6 p-mt-4" *ngIf="preguntas[i].fkPregunta.fkTipoPregunta._id == 4">
                            <div class="p-col-12" *ngFor="let opcion of preguntas[i].fkPregunta.listPosibleRespuestas">
                                <p-radioButton formControlName="opcion_seleccionada" [label]="opcion.fkOpcion.valor" [value]="opcion.fkOpcion._id"
                                    class="p-mb-3"></p-radioButton>
                            </div>
                            <div class="p-col-12">
                                <span class="error-msg"
                                    *ngIf="answers.controls[i].get('opcion_seleccionada').touched && answers.controls[i].get('opcion_seleccionada').errors?.required"><small>{{validationMessages.opcion_seleccionada.required}}</small></span>
                            </div>
                        </div>

                        <!-- RESPONSES RANGE -->
                        <div class="p-grid p-mx-5 p-mt-4" *ngIf="preguntas[i].fkPregunta.fkTipoPregunta._id == 5">
                            <div class="p-col-12 p-lg-6">
                                <label for="float-input">Desde</label>
                                <input formControlName="rango_inicial" class="p-inputtext-lg fill-width" type="text" pInputText>
                                <span class="error-msg"
                                *ngIf="answers.controls[i].get('rango_inicial').touched && answers.controls[i].get('rango_inicial').errors?.required"><small>{{validationMessages.rango_inicial.required}}</small></span>
                                <span class="error-msg"
                                *ngIf="answers.controls[i].get('rango_inicial').touched && answers.controls[i].get('rango_inicial').errors?.pattern"><small>{{validationMessages.rango_inicial.pattern}}</small></span>
                                <span class="error-msg"
                                *ngIf="answers.controls[i].get('rango_inicial').touched && answers.controls[i].get('rango_inicial').errors?.lessThan"><small>{{validationMessages.rango_inicial.lessThan}}</small></span>
                                <span class="error-msg"
                                *ngIf="answers.controls[i].get('rango_inicial').touched && answers.controls[i].get('rango_inicial').errors?.min"><small>{{validationMessages.rango_inicial.min}}</small></span>
                                <span class="error-msg"
                                *ngIf="answers.controls[i].get('rango_inicial').touched && answers.controls[i].get('rango_inicial').errors?.max"><small>{{validationMessages.rango_inicial.max}}</small></span>
                            </div>
                            <div class="p-col-12 p-lg-6">
                                <label for="float-input">Hasta</label>
                                <input formControlName="rango_final" class="p-inputtext-lg fill-width" type="text" pInputText>
                                <span class="error-msg"
                                *ngIf="answers.controls[i].get('rango_final').touched && answers.controls[i].get('rango_final').errors?.required"><small>{{validationMessages.rango_final.required}}</small></span>
                                <span class="error-msg"
                                *ngIf="answers.controls[i].get('rango_final').touched && answers.controls[i].get('rango_final').errors?.pattern"><small>{{validationMessages.rango_final.pattern}}</small></span>
                                <span class="error-msg"
                                *ngIf="answers.controls[i].get('rango_final').touched && answers.controls[i].get('rango_final').errors?.greaterThan"><small>{{validationMessages.rango_final.greaterThan}}</small></span>
                                <span class="error-msg"
                                *ngIf="answers.controls[i].get('rango_final').touched && answers.controls[i].get('rango_final').errors?.min"><small>{{validationMessages.rango_final.min}}</small></span>
                                <span class="error-msg"
                                *ngIf="answers.controls[i].get('rango_final').touched && answers.controls[i].get('rango_final').errors?.max"><small>{{validationMessages.rango_final.max}}</small></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="p-grid p-jc-end p-mt-6 p-mx-5">
                    <div class="p-grid p-formgrid p-fluid">
                        <div class="p-mb-2 p-col-12 p-mb-lg-0">
                            <button pButton pRipple type="submit" [disabled]="sent_form" label="Guardar"></button>
                        </div>
                    </div>
                </div>

            </form>
        </div>

        <div>
            <div class="p-grid p-jc-center">
                <ngx-spinner></ngx-spinner>
            </div>
        </div>

        
        <div *ngIf="!preguntas && !loading && questionsErrorMessage">
            <app-server-disconnected></app-server-disconnected>
        </div>
        

        <p-toast></p-toast>
    </p-card>
</div>