div .marco{
    border-style: solid;
    border-radius: 1%;
    border-width: thin;
    border-color: lavender;
    border-top-color: lavenderblush;
    border-bottom-color: darkgray;
}

label .campo{
    width: 60;
    font-size: x-large;
}