<app-navigation></app-navigation>

<!-- Study -->
<div class="demo-container p-mx-6 p-p-0 p-p-sm-1 p-p-md-2 p-p-lg-6">
    <p-card>
        <div class="p-grid p-mx-5">
            <div class="p-col-12">
                <h3 class="table-title">VISTA PREVIA DEL ESTUDIO</h3>
            </div>
        </div>
        <hr>
        <div class="p-grid p-mx-5 p-mt-3" *ngIf="estudio && !loading">
            <button pButton pRipple type="button" icon="pi pi-info" class="p-button-rounded p-button-text"></button>
            <div class="p-mt-2 p-ml-3">
                Características del estudio
            </div>
        </div>
        
        <div class="p-mx-5" *ngIf="estudio && !loading">
            <p>
                <strong>CATEGORÍA: </strong>{{estudio.fkCategoria.nombre}} <br>
                <strong>SUBCATEGORÍA: </strong>{{estudio.fkSubcategoria.nombre}} <br>
                <em *ngIf="estudio.edadMinima && estudio.edadMaxima">
                    <strong>EDAD MÍNIMA: </strong>{{estudio.edadMinima}} <br>
                    <strong>EDAD MÁXIMA: </strong>{{estudio.edadMaxima}} <br>
                </em>
                <em *ngIf="estudio.fkNivelAcademico">
                    <strong>NIVEL ACADÉMICO: </strong>{{estudio.fkNivelAcademico.nombre}} <br>
                </em>
                <em *ngIf="estudio.fkNivelSocioeconomico">
                    <strong>NIVEL SOCIOECONÓMICO: </strong>{{estudio.fkNivelSocioeconomico.nombre}} <br>
                </em>
                <em *ngIf="estudio.fkGenero">
                    <strong>GÉNERO: </strong>{{estudio.fkGenero.nombre}} <br>
                </em>
                <em *ngIf="estudio.tipoFiltroLugar">
                    <strong>TIPO DE FILTRO GEOGRÁFICO: </strong>
                    <em *ngIf="estudio.tipoFiltroLugar == 1">País</em>
                    <em *ngIf="estudio.tipoFiltroLugar == 2">Estado</em>
                    <br>
                    <strong>LUGARES: </strong>{{estudio.fkLugar.nombre}} <br>
                </em>
            </p>
        </div>

        <div *ngIf="estudio && preguntas" class="p-mx-6 p-mt-6">
            <p-table #dt [value]="preguntas" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
                [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
                [paginator]="true"
                currentPageReportTemplate="Mostrando desde {first} hasta {last} de {totalRecords} resultados"
                [filterDelay]="0" [globalFilterFields]="['tipo', 'categoria', 'pregunta']">

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 10rem" pSortableColumn="tipo" class="p-text-center">Tipo<p-sortIcon
                                field="tipo">
                            </p-sortIcon>
                        </th>
                        <th class="p-text-center">Pregunta
                        </th>
                    </tr>

                </ng-template>
                <ng-template pTemplate="body" let-pregunta>
                    <tr class="p-selectable-row">
                        <td class="p-text-center">
                            <span class="p-column-title">Tipo</span>
                            {{pregunta.fkPregunta.fkTipoPregunta.nombre}}
                        </td>
                        <td class="p-text-center">
                            <span class="p-column-title">Pregunta</span>
                            <span class="image-text">{{pregunta.fkPregunta.pregunta}}</span>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No se encontraron preguntas</td>
                    </tr>
                </ng-template>
            </p-table>
            <div class="p-grid p-jc-end p-mt-1 p-mr-4">
                <div class="p-grid p-formgrid p-fluid">
                    <div class="p-mb-2 p-col-12 p-mb-lg-0">
                        <button pButton pRipple type="button" (click)="backClicked()" label="Atrás"
                            class="p-button-secondary"></button>
                    </div>
                </div>
            </div>
        </div>


        <div *ngIf="!estudio && studyErrorMessage">
            <app-server-disconnected></app-server-disconnected>
        </div>

        <div>
            <div class="p-grid p-jc-center">
                <ngx-spinner></ngx-spinner>
            </div>
        </div>

    </p-card>
</div>