<app-navigation></app-navigation>

<!-- CATEGORIES -->
<div class="demo-container p-mx-6 p-p-0 p-p-sm-1 p-p-md-2 p-p-lg-6">
    <p-card>
        <div class="p-grid p-mx-5">
            <div class="p-col-12 p-lg-6">
                <h3 class="table-title">CATEGORÍAS</h3>
            </div>
            <div class="p-col-12 p-lg-6">
                <div class="p-grid p-jc-end p-mt-1 p-mr-4">
                    <button pButton pRipple type="button" pTooltip="Crear Categoría" tooltipPosition="bottom"
                        icon="pi pi-plus" class="p-button-rounded p-button-text" (click)="showAddCategoryView()"></button>
                </div>
            </div>
        </div>
        <hr>
        <!-- FILTER -->
        <div *ngIf="categories || loading">
            <p class="p-mx-5">Filtrar por:</p>
            <div class="p-grid p-mx-5 p-mt-3">
                <div class="p-col-12 p-sm-12 p-md-6">
                    <input id="nombre" class="p-inputtext-lg fill-width" type="text" pInputText
                        (input)="dt.filter($event.target.value, 'nombre', 'contains')" placeholder="Nombre">
                </div>
            </div>
            <div class="p-grid p-mt-5 p-mx-5">
                <p-table #dt [value]="categories" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
                    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
                    [paginator]="true"
                    currentPageReportTemplate="Mostrando desde {first} hasta {last} de {totalRecords} resultados"
                    [filterDelay]="0" [globalFilterFields]="['nombre']">

                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 6rem" pSortableColumn="id" class="p-text-center">ID<p-sortIcon
                                    field="nombre">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="nombre" class="p-text-center">Nombre<p-sortIcon
                                field="nombre">
                            </p-sortIcon>
                            </th>
                            <th class="p-text-center">Descripción
                            </th>
                            <th style="width: 11rem"></th>
                        </tr>

                    </ng-template>
                    <ng-template pTemplate="body" let-sCategory>
                        <tr class="p-selectable-row">
                            <td class="p-text-center">
                                <span class="p-column-title">ID</span>
                                {{sCategory._id}}
                            </td>
                            <td class="p-text-center">
                                <span class="p-column-title">Nombre</span>
                                {{sCategory.nombre}}
                            </td>
                            <td class="p-text-center">
                                <span class="p-column-title">Descripción</span>
                                {{sCategory.descripcion}}
                            </td>

                            <td class="p-text-center">
                                <button type="button" pButton pRipple icon="pi pi-pencil"
                                    (click)="showEditCategoryView(); getSelectedCategory(sCategory)"
                                    class="p-button-rounded p-mr-2" pTooltip="Editar Categoría" 
                                    tooltipPosition="bottom"></button>
                                <button type="button" pButton pRipple icon="pi pi-trash" class="p-button-rounded"
                                    pTooltip="Eliminar Categoría" tooltipPosition="bottom"
                                    (click)="deleteCategory(sCategory)"></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="8">No se encontraron categorías</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div *ngIf="!categories && !loading && categoriesErrorMessage">
            <app-server-disconnected></app-server-disconnected>
        </div>
    </p-card>

    <app-add-category [display]="addCategoryView" (onCategoryAdded)="appendNewCategory($event)" (onModalClose)="hideAddCategoryView()"></app-add-category>
    <app-edit-category *ngIf="category" [category]="category" [display]="editCategoryView" (onCategoryEdited)="editCategory($event)" (onModalClose)="hideEditCategoryView()"></app-edit-category>

    <p-confirmDialog></p-confirmDialog>
    <p-toast></p-toast>
</div>