<app-navigation></app-navigation>

<!-- Existing studies -->
<div class="demo-container p-mx-6 p-p-0 p-p-sm-1 p-p-md-2 p-p-lg-6">
    <p-card>
        <div class="p-grid p-mx-5">
            <div class="p-col-12 p-lg-6">
                <h3 class="table-title">SOLICITUDES DE ESTUDIO</h3>
            </div>

            <div class="p-col-12 p-lg-6" *ngIf="!current_state || current_state == 1">
                <div class="p-grid p-jc-end p-mt-1 p-mr-4">
                    <button pButton pRipple type="button" pTooltip="Realizar solicitud" tooltipPosition="bottom"
                        icon="pi pi-plus" routerLink="../make-request" class="p-button-rounded p-button-text">
                    </button>
                </div>
            </div>
        </div>
        <hr>
        <!-- FILTER -->
        <div *ngIf="solicitudes || loading">
            <p class="p-mx-5">Filtrar por:</p>
            <div class="p-grid p-mx-5 p-mt-3">

                <div class="p-col-12 p-md-6 p-lg-4">
                    <p-multiSelect [options]="categorias" defaultLabel="Categoría"
                        emptyFilterMessage="No se encontraron resultados" (onChange)="onCategoryChange($event)"
                        selectedItemsLabel="{} items seleccionados"></p-multiSelect>
                </div>

                <div class="p-col-12 p-md-6 p-lg-4">
                    <p-dropdown [options]="request_states" placeholder="Estado" [(ngModel)]="current_state"
                        (onChange)="filterStudies($event)">

                    </p-dropdown>
                </div>

            </div>
            <div class="p-grid p-mt-5 p-mx-5">
                <p-table #dt [value]="solicitudes" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
                    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
                    [paginator]="true"
                    currentPageReportTemplate="Mostrando desde {first} hasta {last} de {totalRecords} resultados"
                    [filterDelay]="0" [globalFilterFields]="['categoria']">

                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="categoria" class="p-text-center">Categoría<p-sortIcon
                                    field="categoria">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="subcategoria" class="p-text-center">Subcategoría<p-sortIcon
                                    field="subcategoria">
                                </p-sortIcon>
                            </th>
                          <th class="p-text-center">
                            Nombre
                          </th>
                            <th class="p-text-center">
                                Rango de edades
                            </th>
                            <th class="p-text-center">
                                Lugares de aplicación
                            </th>
                            <th class="p-text-center">
                                Filtros adicionales
                            </th>
                            <th style="width: 11rem"></th>
                        </tr>

                    </ng-template>

                    <ng-template pTemplate="body" let-estudio>
                        <tr class="p-selectable-row">
                            <td class="p-text-center">
                                <span class="p-column-title">Categoría</span>
                                {{estudio.fkCategoria.nombre}}
                            </td>
                            <td class="p-text-center">
                                <span class="p-column-title">Subcategoría</span>
                                <span class="image-text"
                                    *ngIf="estudio.fkSubcategoria">{{estudio.fkSubcategoria.nombre}}</span>
                            </td>
                          <td class="p-text-center">
                            <span class="p-column-title">Nombre</span>
                            {{estudio.fkSolicitud.nombre}}
                          </td>
                            <td class="p-text-center">
                                <span class="p-column-title">Rango de edades</span>
                                <span class="image-text" *ngIf="estudio.edadMinima && estudio.edadMaxima">De
                                    {{estudio.edadMinima}} hasta {{estudio.edadMaxima}}</span>
                            </td>
                            <td class="p-text-center">
                                <span class="p-column-title">Lugares</span>
                                <span class="image-text" *ngIf="estudio.fkLugar">{{estudio.fkLugar.nombre}}</span>
                            </td>
                          <td class="p-text-center">
                            <span class="p-column-title">Filtros adicionales</span>
                            <span class="image-text" *ngIf="estudio.fkNivelSocioeconomico"><strong>Nivel
                                        socioeconómico: </strong>{{estudio.fkNivelSocioeconomico.nombre}}&nbsp;</span>
                            <span class="image-text" *ngIf="estudio.fkNivelAcademico"><strong>Nivel académico:
                                    </strong>{{estudio.fkNivelAcademico.nombre}}&nbsp;</span>
                            <span class="image-text" *ngIf="estudio.fkGenero"><strong>Género: </strong>
                              {{estudio.fkGenero.nombre}}&nbsp;</span>
                            <span class="image-text" *ngIf="estudio.fkEdoCivil"><strong>Estado Civil: </strong>
                              {{estudio.fkEdoCivil.nombre}}&nbsp;</span>

                          </td>

                            <td class="p-text-center">
                                <button *ngIf="estudio.fkSolicitud.estado == 1" type="button" pButton pRipple
                                    icon="pi pi-eye" class="p-button-rounded p-mr-2" pTooltip="Vista previa del estudio"
                                    tooltipPosition="bottom" routerLink="../view-study" [queryParams]="{studyId: estudio.fkEstudio._id}"></button>
                                <button *ngIf="estudio.fkSolicitud.estado == 1 && estudio.fkEstudio && estudio.fkEstudio.estado == 2" type="button" pButton pRipple icon="pi pi-chart-bar"
                                    class="p-button-rounded p-mr-2" routerLink="../view-study/stats" [queryParams]="{studyId: estudio.fkEstudio._id}" pTooltip="Estadísticas"
                                    tooltipPosition="bottom" ></button>
                                <button *ngIf="estudio.fkSolicitud.estado == 0" type="button" pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-mr-2" pTooltip="Editar solicitud" tooltipPosition="bottom"
                                    routerLink="../edit-request" [queryParams]="{requestId: estudio.fkSolicitud._id}"></button>
                                <button *ngIf="estudio.fkSolicitud.estado == 0" (click)="cancelRequest(estudio)" type="button" pButton pRipple icon="pi pi-times"
                                    class="p-button-rounded p-mr-2" pTooltip="Cancelar solicitud"
                                    tooltipPosition="bottom"></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="8">No se encontraron estudios</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div *ngIf="!solicitudes && !loading && solicitudesErrorMessage">
            <app-server-disconnected></app-server-disconnected>
        </div>
    </p-card>
</div>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
