/* You can add global styles to this file, and also import other style files */
html {
    font-size: 13px;
    font-family: 'Segoe UI', Arial, sans-serif;
}

.panel-img{
    opacity: 0.9;
}

body .p-steps-number{
    color: floralwhite !important;
    background-color: #4D80CA !important;
}

body .p-disabled > a > .p-steps-number{
    color: floralwhite !important;
    background-color: #707070 !important;
}

body .p-dropdown{
    width: 95% !important;
    padding: 0.225rem 0.225rem !important;
}

body .p-multiselect{
    width: 95% !important;
    padding: 0.225rem 0.225rem !important;
}

body .p-calendar{
    width: 95% !important;
}

body .p-steps-item{
    background-color: transparent !important
}

span > .p-inputtext:enabled:focus{
    border-color: #4D80CA !important;
    box-shadow: 0 0 0 0.02rem #4D80CA !important;
}


span > .p-inputtext:hover{
    box-shadow: 0 0 0 0.02rem #4D80CA !important;
}


.p-dropdown:not(.p-disabled).p-focus{
    box-shadow: 0 0 0 0.05rem #4D80CA !important;
    border-color: #4D80CA !important;
} 

.p-dropdown:not(.p-disabled):hover{
    border-color:  #4D80CA !important;
    box-shadow: 0 0 0 0.05 rem #4D80CA !important;
}

body .p-button{
    background-color: #4D80CA !important;
}

body .p-button-secondary{
    background-color: #707070 !important;
}

.fill-width {
    width: 95%;
}

.full-width{
    width: 97%;
}

body .p-calendar .p-inputtext{
    font-size: 13px !important;
}	

span.p-highlight.ng-star-inserted{
    background-color: #4D80CA !important;
    color: floralwhite !important;
}

a{
    color: #4D80CA;
}

#mercadeoucab .p-button-icon{
    color: floralwhite !important;
}

.error-msg{
    color: red;
}

div.p-checkbox-box{
    border-color: #4D80CA !important;
}

span.p-checkbox-icon{
    background-color: #4D80CA !important;
}
