/* You can add global styles to this file, and also import other style files */
html {
    font-size: 13px;
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #f6f6f6;
    overflow-x: hidden;
}

body{
    display: flex;
    flex-flow: column;
    height: 100%;
}

.panel-img{
    opacity: 0.9;
}

body .p-steps-number{
    color: floralwhite !important;
    background-color: #4D80CA !important;
}

body .p-disabled > a > .p-steps-number{
    color: floralwhite !important;
    background-color: #707070 !important;
}

body .p-dropdown{
    width: 95% !important;
    padding: 0.225rem 0.225rem !important;
}

body .p-multiselect{
    width: 95% !important;
    padding: 0.225rem 0.225rem !important;
}

body .p-calendar{
    width: 95% !important;
}

body .p-steps-item{
    background-color: transparent !important
}

span > .p-inputtext:enabled:focus{
    border-color: #4D80CA !important;
    box-shadow: 0 0 0 0.02rem #4D80CA !important;
}


span > .p-inputtext:hover{
    box-shadow: 0 0 0 0.02rem #4D80CA !important;
}


.p-dropdown:not(.p-disabled).p-focus{
    box-shadow: 0 0 0 0.05rem #4D80CA !important;
    border-color: #4D80CA !important;
} 

.p-dropdown:not(.p-disabled):hover{
    border-color:  #4D80CA !important;
    box-shadow: 0 0 0 0.05 rem #4D80CA !important;
}

body .p-button{
    background-color: #4D80CA !important;
    border: hidden !important;
}

body .p-button-secondary{
    background-color: #707070 !important;
}

.fill-width {
    width: 95%;
}

.full-width{
    width: 97%;
}

body .p-calendar .p-inputtext{
    font-size: 13px !important;
}	

span.p-highlight.ng-star-inserted{
    background-color: #4D80CA !important;
    color: floralwhite !important;
}

a{
    color: #4D80CA;
}

#mercadeoucab .p-button-icon{
    color: floralwhite !important;
}

.error-msg{
    color: red;
}

div.p-checkbox-box{
    border-color: #4D80CA !important;
}

span.p-checkbox-icon{
    background-color: #4D80CA !important;
}

#mercadeoucab .p-menubar{
    margin-left: -0.6%;
    margin-right: -0.6%;
    margin-top: -0.6%;
    background: #4D80CA;
    border: 0px;
    font-size: 13px;
}

/* MENUBAR */

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:focus
{
    background:white !important;
    color: #707070 !important;
}

@media(min-width:960px){
    .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link > .p-menuitem-text
    {
        color: white !important;
    }

    .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link > .p-menuitem-icon
    {
        color: white !important;
    }

    .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link > .p-submenu-icon	
    {
        color: white !important;
    }
}

#mercadeoucab .p-menubar-button{
    color: white;
}

/* Text */

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:focus > .p-menuitem-text
{
    color: #707070 !important;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:hover > .p-menuitem-text
{
    color: #707070 !important;
}

/* Icons */

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:focus > .p-menuitem-icon
{
    color: #707070 !important;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:hover > .p-menuitem-icon
{
    color: #707070 !important;
}

/* Arrow */

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:focus > .p-submenu-icon	
{
    color: #707070 !important;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:hover > .p-submenu-icon	
{
    color: #707070 !important;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:hover
{
    background: white !important;
    color: #707070 !important;
}
