<app-navigation></app-navigation>

<!-- Study -->
<div class="demo-container p-mx-6 p-p-0 p-p-sm-1 p-p-md-2 p-p-lg-6">
    <p-card>
        <div class="p-grid p-mx-5">
            <div class="p-col-6 p-lg-6">
                <h3 class="table-title">EDITAR ESTUDIO</h3>
                <small>Los cambios realizados a las preguntas se guardan automáticamente</small>
            </div>
            <div class="p-col-6 p-lg-6">
                <div class="p-grid p-jc-end p-mt-1 p-mr-4">
                    <button pButton pRipple type="button" pTooltip="Crear pregunta" tooltipPosition="bottom"
                        icon="pi pi-plus" (click)="showAddOptions()" class="p-button-rounded p-button-text"></button>
                </div>
            </div>
        </div>
        <hr>
        <div class="p-grid p-mx-5 p-mt-3" *ngIf="estudio && !loading">
            <button pButton pRipple type="button" (click)="showOrHideModifyStudyFeatures()" tooltipPosition="bottom"
                icon="pi pi-pencil" class="p-button-rounded p-button-text"></button>
            <div class="p-mt-2 p-ml-3">
                Modificar características del estudio
            </div>
        </div>

        <div *ngIf="display_modify_study_features">
            <form novalidate [formGroup]="studyForm" #sform="ngForm" (ngSubmit)="onSubmit()">
                <h4 class="p-mx-5">Filtros de producto</h4>
                <small class="error-msg p-mx-5">ADVERTENCIA: Si cambia la categoría y guarda los cambios las preguntas
                    se eliminarán pues ya no serán válidas para este tipo de estudio</small>
                <div class="p-grid p-mx-5 p-mt-2">
                    <div class="p-col-12 p-md-6 p-lg-4">
                        <p-dropdown [options]="categorias"
                            (onChange)="getSubcategories(); clearQuestions(estudio.id_categoria)"
                            formControlName="categoria" placeholder="Categoría"></p-dropdown>
                    </div>

                    <div class="p-col-12 p-md-6 p-lg-4">
                        <p-dropdown [options]="subcategorias" formControlName="subcategoria" placeholder="Subcategoría">
                        </p-dropdown>
                    </div>
                </div>

                <h4 class="p-mx-5">Filtro de edad</h4>
                <div class="p-grid p-mx-5 p-mt-2">
                    <div class="p-col-12 p-md-6 p-lg-4">
                        <input class="p-inputtext-lg full-width" formControlName="edad_minima" type="text" pInputText
                            placeholder="Edad mínima">
                        <span class="error-msg"
                            *ngIf="formErrors.edad_minima"><small>{{formErrors.edad_minima}}</small></span>
                    </div>

                    <div class="p-col-12 p-md-6 p-lg-4">
                        <input class="p-inputtext-lg full-width" formControlName="edad_maxima" type="text" pInputText
                            placeholder="Edad máxima">
                        <span class="error-msg"
                            *ngIf="formErrors.edad_maxima"><small>{{formErrors.edad_maxima}}</small></span>
                    </div>
                </div>


                <h4 class="p-mx-5">Filtros de población</h4>
                <div class="p-grid p-mx-5 p-mt-2">
                    <div class="p-col-12 p-md-6 p-lg-4">
                        <p-multiSelect [options]="niveles_academicos" formControlName="nivel_academico"
                            defaultLabel="Nivel académico" emptyFilterMessage="No se encontraron resultados"
                            selectedItemsLabel="{} items seleccionados"></p-multiSelect>
                    </div>

                    <div class="p-col-12 p-md-6 p-lg-4">
                        <p-multiSelect [options]="niveles_socioeconomicos" formControlName="nivel_socioeconomico"
                            defaultLabel="Nivel socioeconómico" emptyFilterMessage="No se encontraron resultados"
                            selectedItemsLabel="{} items seleccionados"></p-multiSelect>
                    </div>

                    <div class="p-col-12 p-md-6 p-lg-4">
                        <p-dropdown [options]="generos" formControlName="genero" placeholder="Genero"></p-dropdown>
                    </div>
                </div>

                <h4 class="p-mx-5">Filtros geográficos</h4>
                <div class="p-grid p-mx-5 p-mt-2">
                    <p-radioButton value="paises" (onClick)="clearPlaces()" formControlName="tipo_de_filtro"
                        label="Filtrar por países" class="p-mb-3"></p-radioButton>
                </div>
                <div class="p-grid p-mx-5 p-mt-2">
                    <p-radioButton value="estados" (onClick)="clearPlaces()" label="Filtrar por estados"
                        formControlName="tipo_de_filtro" class="p-mb-3"></p-radioButton>
                </div>
                <div class="p-grid p-mx-5 p-mt-2">
                    <p-radioButton [value]="null" (onClick)="clearPlaces()" label="Ninguno"
                        formControlName="tipo_de_filtro" class="p-mb-3"></p-radioButton>
                </div>

                <!-- FILTRO GEOGRÁFICO -->

                <div>
                    <div class="p-grid p-mx-5 p-mt-2">
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <p-multiSelect *ngIf="studyForm.value.tipo_de_filtro == 'paises'" [options]="paises"
                                defaultLabel="Países" emptyFilterMessage="No se encontraron resultados"
                                selectedItemsLabel="{} items seleccionados" formControlName="pais"></p-multiSelect>

                            <p-dropdown [options]="paises" formControlName="pais"
                                *ngIf="studyForm.value.tipo_de_filtro == 'estados' || studyForm.value.tipo_de_filtro == 'ciudades'"
                                placeholder="País"></p-dropdown>
                        </div>

                        <div class="p-col-12 p-md-6 p-lg-4">
                            <p-multiSelect *ngIf="studyForm.value.tipo_de_filtro == 'estados'" [options]="estados"
                                defaultLabel="Estados" emptyFilterMessage="No se encontraron resultados"
                                formControlName="estado" selectedItemsLabel="{} items seleccionados"></p-multiSelect>

                            <p-dropdown [options]="estados" formControlName="estado"
                                *ngIf="studyForm.value.tipo_de_filtro == 'ciudades'" placeholder="Estado"></p-dropdown>

                        </div>

                        <div class="p-col-12 p-md-6 p-lg-4">
                            <p-multiSelect *ngIf="studyForm.value.tipo_de_filtro == 'ciudades'" formControlName="ciudad"
                                [options]="ciudades" defaultLabel="Ciudades"
                                emptyFilterMessage="No se encontraron resultados"
                                selectedItemsLabel="{} items seleccionados"></p-multiSelect>
                        </div>
                    </div>
                </div>



                <!-- BOTONES -->
                <div class="p-grid p-jc-end p-mt-3 p-mb-6 p-mr-4">
                    <div class="p-grid p-formgrid p-fluid">
                        <div class="p-mb-2 p-col-6 p-mb-lg-0">
                            <button pButton pRipple type="button" label="Cerrar" class="p-button-secondary"
                                (click)="showOrHideModifyStudyFeatures()"></button>
                        </div>
                        <div class="p-mb-2 p-col-6 p-mb-lg-0">
                            <button pButton pRipple type="submit" [disabled]="sent_form" label="Enviar"></button>
                        </div>
                    </div>
                </div>
                <hr>
            </form>
        </div>

        <div *ngIf="estudio && estudio.preguntas && !display_new && !display_pool">
            <div class="p-mx-5 p-mt-5" *ngFor="let pregunta of estudio.preguntas">
                <div class="p-grid">
                    <div class="p-col-12 p-lg-10">
                        <p>{{pregunta.pregunta}}</p>
                        <small *ngIf="pregunta.id_tipo == 5">Valores permitidos: Desde
                            {{pregunta.opciones[0].rango_inicial}} hasta {{pregunta.opciones[0].rango_final}}</small>
                        <!-- RESPONSES OPEN TEXT -->
                        <div class="p-grid p-mx-6 p-mt-4" *ngIf="pregunta.id_tipo == 1">
                            <div class="p-col-12 p-lg-6">
                                <label for="float-input">Respuesta</label>
                                <input [disabled]="true" class="p-inputtext-lg fill-width" type="text" pInputText>
                            </div>
                        </div>

                        <!-- RESPONSES SIMPLE SELECTION -->
                        <div class="p-grid p-mx-6 p-mt-4" *ngIf="pregunta.id_tipo == 2">
                            <div class="p-col-12" *ngFor="let opcion of pregunta.opciones">
                                <p-radioButton [label]="opcion.valor" [disabled]="true" class="p-mb-3"></p-radioButton>
                            </div>
                        </div>

                        <!-- RESPONSES MULTIPLE SELECTION -->
                        <div class="p-grid p-mx-6 p-mt-4" *ngIf="pregunta.id_tipo == 3">
                            <div class="p-col-12" *ngFor="let opcion of pregunta.opciones">
                                <p-checkbox [label]="opcion.valor" [disabled]="true" class="p-mb-3"></p-checkbox>
                            </div>
                        </div>

                        <!-- RESPONSES TRUE/FALSE -->
                        <div class="p-grid p-mx-6 p-mt-4" *ngIf="pregunta.id_tipo == 4">
                            <div class="p-col-12">
                                <p-radioButton label="Verdadero" [disabled]="true" class="p-mb-3"></p-radioButton>
                            </div>
                            <div class="p-col-12">
                                <p-radioButton label="Falso" [disabled]="true" class="p-mb-3"></p-radioButton>
                            </div>
                        </div>

                        <!-- RESPONSES RANGE -->
                        <div class="p-grid p-mx-6 p-mt-4" *ngIf="pregunta.id_tipo == 5">
                            <div class="p-col-12 p-lg-6">
                                <label for="float-input">Desde</label>
                                <input [disabled]="true" class="p-inputtext-lg fill-width" type="text" pInputText>
                            </div>
                            <div class="p-col-12 p-lg-6">
                                <label for="float-input">Hasta</label>
                                <input [disabled]="true" class="p-inputtext-lg fill-width" type="text" pInputText>
                            </div>
                        </div>
                    </div>

                    <!-- OPTIONS -->
                    <div class="p-col p-lg-2">
                        <div class="p-grid p-jc-end p-mr-5">
                            <i class="pi pi-fw pi-pencil p-mr-2" routerLink="../../questions/edit"
                                [queryParams]="{qid: pregunta.id, origin: 'study', sid: estudio.id}"
                                style="cursor: pointer;"></i>
                            <i class="pi pi-fw pi-trash" (click)="deleteQuestion(pregunta)"
                                style="cursor: pointer;"></i>
                        </div>
                    </div>

                </div>
            </div>
            <div class="p-grid p-jc-end p-mt-1 p-mr-4">
                <div class="p-grid p-formgrid p-fluid">
                    <div class="p-mb-2 p-col-12 p-mb-lg-0">
                        <button pButton pRipple type="button" routerLink="../../studies/existing" label="Atrás"
                            class="p-button-secondary"></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- ADD QUESTION -->
        <div *ngIf="display_pool" class="p-mx-5 p-mt-2">
            <app-add-question-from-pool [category_id]="estudio.id_categoria" (onViewClose)="display_pool = false" (onQuestionSelect)="getSelectedQuestion($event)"></app-add-question-from-pool>
        </div>

        <div *ngIf="display_new" class="p-mx-5 p-mt-2"> 
            <app-add-question-form [category_id]="estudio.id_categoria" [subcategory_id]="estudio.id_subcategoria" (onViewClose)="display_new = false" (onQuestionCreate)="getSelectedQuestion($event)"></app-add-question-form>
        </div>

        <p-dialog header="Agregar pregunta" [(visible)]="display">
            <div>
                <p-radioButton label="Quiero crear una nueva pregunta" [(ngModel)]="style" value="new" class="p-mb-3"></p-radioButton>
            </div>
            <div>
                <p-radioButton label="Quiero seleccionar una pregunta del pool" value="pool" [(ngModel)]="style" class="p-mb-3"></p-radioButton>
            </div>

            <div class="p-grid p-jc-end p-mt-1 p-mr-4">
                <div class="p-grid p-formgrid p-fluid">
                    <button pButton pRipple type="submit" label="Continuar" (click)="addQuestion()"></button>
                </div>
            </div>
        </p-dialog>

        <div *ngIf="!estudio && !loading && studyErrorMessage">
            <app-server-disconnected></app-server-disconnected>
        </div>

        <div>
            <div class="p-grid p-jc-center">
                <ngx-spinner></ngx-spinner>
            </div>
        </div>

    </p-card>
    <p-confirmDialog></p-confirmDialog>
    <p-toast></p-toast>

</div>