<app-navigation></app-navigation>

<!-- Study -->
<div class="demo-container p-mx-6 p-p-0 p-p-sm-1 p-p-md-2 p-p-lg-6">
    <p-card>
        <div class="p-grid p-mx-5">
            <div class="p-col-6 p-lg-6">
                <h3 class="table-title">EDITAR ESTUDIO</h3>
                <small>Los cambios realizados a las preguntas se guardan automáticamente</small>
            </div>
            <div class="p-col-6 p-lg-6">
                <div class="p-grid p-jc-end p-mt-1 p-mr-4">
                    <button pButton pRipple type="button" pTooltip="Crear pregunta" tooltipPosition="bottom"
                        icon="pi pi-plus" (click)="showAddOptions()" class="p-button-rounded p-button-text"></button>
                </div>
            </div>
        </div>
        <hr>
        <div class="p-grid p-mx-5 p-mt-3" *ngIf="estudio && !loading">
            <button pButton pRipple type="button" (click)="showOrHideModifyStudyFeatures()" tooltipPosition="bottom"
                icon="pi pi-pencil" class="p-button-rounded p-button-text"></button>
            <div class="p-mt-2 p-ml-3">
                Modificar características del estudio
            </div>
        </div>

        <div *ngIf="display_modify_study_features">
            <form novalidate [formGroup]="studyForm" #sform="ngForm" (ngSubmit)="onSubmit()">
                <h4 class="p-mx-5">Filtros de producto</h4>
                <div class="p-grid p-mx-5 p-mt-2">
                    <div class="p-col-12 p-md-6 p-lg-4">
                        <p-dropdown [options]="categorias" (onChange)="getSubcategories($event.value)"
                            formControlName="categoria" placeholder="Categoría"></p-dropdown>
                    </div>

                    <div class="p-col-12 p-md-6 p-lg-4">
                        <p-dropdown [options]="subcategorias" formControlName="subcategoria" placeholder="Subcategoría">
                        </p-dropdown>
                    </div>
                </div>

                <h4 class="p-mx-5">Filtro de edad</h4>
                <div class="p-grid p-mx-5 p-mt-2">
                    <div class="p-col-12 p-md-6 p-lg-4">
                        <input class="p-inputtext-lg full-width" formControlName="edad_minima" type="text" pInputText
                            placeholder="Edad mínima">
                        <span class="error-msg"
                            *ngIf="formErrors.edad_minima"><small>{{formErrors.edad_minima}}</small></span>
                    </div>

                    <div class="p-col-12 p-md-6 p-lg-4">
                        <input class="p-inputtext-lg full-width" formControlName="edad_maxima" type="text" pInputText
                            placeholder="Edad máxima">
                        <span class="error-msg"
                            *ngIf="formErrors.edad_maxima"><small>{{formErrors.edad_maxima}}</small></span>
                    </div>
                </div>


                <h4 class="p-mx-5">Filtros de población</h4>
                <div class="p-grid p-mx-5 p-mt-2">
                    <div class="p-col-12 p-md-6 p-lg-4">
                        <p-dropdown [options]="niveles_academicos" formControlName="nivel_academico"
                            placeholder="Nivel académico mínimo"></p-dropdown>
                    </div>

                    <div class="p-col-12 p-md-6 p-lg-4">
                        <p-dropdown [options]="niveles_socioeconomicos" formControlName="nivel_socioeconomico"
                            placeholder="Nivel socioeconómico mínimo"></p-dropdown>
                    </div>

                    <div class="p-col-12 p-md-6 p-lg-4">
                        <p-dropdown [options]="generos" formControlName="genero" placeholder="Genero"></p-dropdown>
                    </div>

                    <div class="p-col-12 p-md-6 p-lg-4">
                        <p-dropdown [options]="estados_civiles" formControlName="estado_civil"
                            placeholder="Estado Civil"></p-dropdown>
                    </div>
                </div>

                <h4 class="p-mx-5">Filtros geográficos</h4>
                <div class="p-grid p-mx-5 p-mt-2">
                    <p-radioButton value="1" (onClick)="clearPlaces()" formControlName="tipo_de_filtro"
                        label="Filtrar por países" class="p-mb-3"></p-radioButton>
                </div>
                <div class="p-grid p-mx-5 p-mt-2">
                    <p-radioButton value="2" (onClick)="clearPlaces()" label="Filtrar por estados"
                        formControlName="tipo_de_filtro" class="p-mb-3"></p-radioButton>
                </div>
                <div class="p-grid p-mx-5 p-mt-2">
                    <p-radioButton [value]="null" (onClick)="clearPlaces()" label="Ninguno"
                        formControlName="tipo_de_filtro" class="p-mb-3"></p-radioButton>
                </div>

                <!-- FILTRO GEOGRÁFICO -->

                <div>
                    <div class="p-grid p-mx-5 p-mt-2">
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <p-dropdown [options]="paises" *ngIf="studyForm.value.tipo_de_filtro == 1"
                                formControlName="pais" placeholder="País"></p-dropdown>

                            <p-dropdown [options]="paises" formControlName="pais"
                                *ngIf="studyForm.value.tipo_de_filtro == 2" placeholder="País"
                                (onChange)="getStates($event.value)"></p-dropdown>
                        </div>

                        <div class="p-col-12 p-md-6 p-lg-4">
                            <p-dropdown [options]="estados" *ngIf="studyForm.value.tipo_de_filtro == 2"
                                formControlName="estado" placeholder="Estado"></p-dropdown>
                        </div>
                    </div>
                </div>

                <!-- BOTONES -->
                <div class="p-grid p-jc-end p-mt-3 p-mb-6 p-mr-4">
                    <div class="p-grid p-formgrid p-fluid">
                        <div class="p-mb-2 p-col-6 p-mb-lg-0">
                            <button pButton pRipple type="button" label="Cerrar" class="p-button-secondary"
                                (click)="showOrHideModifyStudyFeatures()"></button>
                        </div>
                        <div class="p-mb-2 p-col-6 p-mb-lg-0">
                            <button pButton pRipple type="submit" [disabled]="sent_form" label="Enviar"></button>
                        </div>
                    </div>
                </div>
                <hr>
            </form>
        </div>

        <div *ngIf="estudio && preguntas && !display_new && !display_pool" class="p-mx-6 p-mt-6">
            <p-table #dt [value]="preguntas" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
                [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
                [paginator]="true"
                currentPageReportTemplate="Mostrando desde {first} hasta {last} de {totalRecords} resultados"
                [filterDelay]="0" [globalFilterFields]="['tipo', 'categoria', 'pregunta']">

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 10rem" pSortableColumn="tipo" class="p-text-center">Tipo<p-sortIcon
                                field="tipo">
                            </p-sortIcon>
                        </th>
                        <th class="p-text-center">Pregunta
                        </th>
                        <th style="width: 11rem"></th>
                    </tr>

                </ng-template>
                <ng-template pTemplate="body" let-pregunta>
                    <tr class="p-selectable-row">
                        <td class="p-text-center">
                            <span class="p-column-title">Tipo</span>
                            {{pregunta.fkPregunta.fkTipoPregunta.nombre}}
                        </td>
                        <td class="p-text-center">
                            <span class="p-column-title">Pregunta</span>
                            <span class="image-text">{{pregunta.fkPregunta.pregunta}}</span>
                        </td>

                        <td class="p-text-center">
                            <button type="button" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-mr-2"
                                pTooltip="Editar pregunta" routerLink="../../questions/edit"
                                [queryParams]="{questionId:pregunta._id , origin: 'study', studyId: estudio.fkEstudio._id}"
                                tooltipPosition="bottom"></button>
                            <button type="button" pButton pRipple icon="pi pi-trash" class="p-button-rounded"
                                pTooltip="Eliminar pregunta" tooltipPosition="bottom"
                                (click)="deleteQuestion(pregunta)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No se encontraron preguntas</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <!-- ADD QUESTION -->
        <div *ngIf="display_pool" class="p-mx-5 p-mt-2">
            <app-add-question-from-pool [category_id]="estudio.fkCategoria._id" (onViewClose)="display_pool = false"
                (onQuestionSelect)="getSelectedQuestion($event); linkPoolQuestion($event)"></app-add-question-from-pool>
        </div>

        <div *ngIf="display_new" class="p-mx-5 p-mt-2">
            <app-add-question-form [category_id]="estudio.fkCategoria._id" [subcategory_id]="estudio.fkSubcategoria._id"
                (onViewClose)="display_new = false" (onQuestionCreate)="getSelectedQuestion($event); linkCreatedQuestion($event)">
            </app-add-question-form>
        </div>

        <p-dialog header="Agregar pregunta" [(visible)]="display">
            <div>
                <p-radioButton label="Quiero crear una nueva pregunta" [(ngModel)]="style" value="new" class="p-mb-3">
                </p-radioButton>
            </div>
            <div>
                <p-radioButton label="Quiero seleccionar una pregunta del pool" value="pool" [(ngModel)]="style"
                    class="p-mb-3"></p-radioButton>
            </div>

            <div class="p-grid p-jc-end p-mt-1 p-mr-4">
                <div class="p-grid p-formgrid p-fluid">
                    <button pButton pRipple type="submit" label="Continuar" (click)="addQuestion()"></button>
                </div>
            </div>
        </p-dialog>

        <div *ngIf="!estudio && !loading && preguntaErrorMessage">
            <app-server-disconnected></app-server-disconnected>
        </div>

        <div>
            <div class="p-grid p-jc-center">
                <ngx-spinner></ngx-spinner>
            </div>
        </div>

    </p-card>
    <p-confirmDialog></p-confirmDialog>
    <p-toast></p-toast>

</div>