<app-navigation></app-navigation>

<!-- Existing studies -->
<div class="demo-container p-mx-6 p-p-0 p-p-sm-1 p-p-md-2 p-p-lg-6">
    <p-card>
        <div class="p-grid p-mx-5">
            <div class="p-col-12">
                <h3 class="table-title">ESTADÍSTICAS DEL ESTUDIO</h3>
            </div>
        </div>
        <hr>

        <div>
            <div class="p-grid p-mx-5 p-mt-3">
                <button pButton pRipple type="button" icon="pi pi-info" class="p-button-rounded p-button-text"></button>
                <div class="p-mt-2 p-ml-3">
                    Características del estudio
                </div>
            </div>

            <div class="p-mx-5" *ngIf="study && !loading">
                <p>
                    <strong>CATEGORÍA: </strong>{{study.fkCategoria.nombre}} <br>
                    <strong>SUBCATEGORÍA: </strong>{{study.fkSubcategoria.nombre}} <br>
                    <em *ngIf="study.edadMinima && study.edadMaxima">
                        <strong>EDAD MÍNIMA: </strong>{{study.edadMinima}} <br>
                        <strong>EDAD MÁXIMA: </strong>{{study.edadMaxima}} <br>
                    </em>
                    <em *ngIf="study.fkNivelAcademico">
                        <strong>NIVEL ACADÉMICO: </strong>{{study.fkNivelAcademico.nombre}} <br>
                    </em>
                    <em *ngIf="study.fkNivelSocioeconomico">
                        <strong>NIVEL SOCIOECONÓMICO: </strong>{{study.fkNivelSocioeconomico.nombre}} <br>
                    </em>
                    <em *ngIf="study.fkGenero">
                        <strong>GÉNERO: </strong>{{study.fkGenero.nombre}} <br>
                    </em>
                    <em *ngIf="study.tipoFiltroLugar">
                        <strong>TIPO DE FILTRO GEOGRÁFICO: </strong>
                        <em *ngIf="study.tipoFiltroLugar == 1">País</em>
                        <em *ngIf="study.tipoFiltroLugar == 2">Estado</em>
                        <br>
                        <strong>LUGARES: </strong>{{study.fkLugar.nombre}} <br>
                    </em>
                </p>
            </div>
            <hr>
            <div *ngIf="open_text_questions && open_text_questions.length > 0">
                <h4 class="p-mx-5">RESPUESTAS DE TEXTO ABIERTO</h4>
                <div *ngFor="let pregunta of open_text_questions" class="p-mx-5">
                    <div class="p-grid">
                        <div class="p-col-12 p-lg-10">
                            <p>{{pregunta.fkPregunta.pregunta}}</p>
                            <!-- RESPONSES OPEN TEXT -->
                            <h4>RESPUESTAS</h4>
                            <ul *ngFor="let respuesta of pregunta.listRespuestasTexto">
                                <li>{{respuesta.respuestaTexto}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
            </div>

            <div *ngIf="selection_questions && selection_questions.length > 0">
                <h4 class="p-mx-5">RESPUESTAS DE SELECCIÓN</h4>
                <div *ngFor="let pregunta of selection_questions; let i=index" class="p-mx-5">
                    <div class="p-grid" *ngIf="selection_dataset">
                        <div class="p-col-12 p-lg-10">
                            <p>{{pregunta.fkPregunta.pregunta}}</p>
                            <!-- RESPONSES SELECTION -->
                            <p-chart type="pie" width="500" [data]="selection_dataset[i]"></p-chart>
                        </div>
                    </div>
                </div>
                <hr>
            </div>

            <div *ngIf="true_false_questions && true_false_questions.length > 0">
                <h4 class="p-mx-5">RESPUESTAS DE VERDADERO Y FALSO</h4>
                <div *ngFor="let pregunta of true_false_questions; let i=index" class="p-mx-5">
                    <div class="p-grid" *ngIf="true_false_dataset">
                        <div class="p-col-12 p-lg-10">
                            <p>{{pregunta.fkPregunta.pregunta}}</p>
                            <!-- RESPONSES TRUE FALSE -->
                            <p-chart type="doughnut" width="500" [data]="true_false_dataset[i]"></p-chart>
                        </div>
                    </div>
                </div>
                <hr>
            </div>


            <div *ngIf="range_questions && range_questions.length > 0">
                <h4 class="p-mx-5">RESPUESTAS DE RANGO</h4>
                <div *ngIf="range_questions">
                    <div *ngFor="let pregunta of range_questions; let i=index">
                        <div *ngIf="range_dataset">
                            <div class="p-grid p-mx-5">
                                <div class="p-col-12 p-lg-10">
                                    <p>{{pregunta.fkPregunta.pregunta}}</p>
                                    <!-- RESPONSES RANGE -->
                                </div>
                            </div>
                            <div class="p-grid p-mx-5">
                                <p><strong>Promedio Mínimo: </strong>{{range_dataset[i].min_average | number:'1.1-2'}}
                                    <br>
                                    <strong>Promedio Máximo: </strong>{{range_dataset[i].max_average | number:'1.1-2'}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- IN PROGRESS STUDIES CAN BE CONCLUDED -->
            <div *ngIf="study && study.fkEstudio.estado == 1" class="p-mx-5 p-mt-2">
                <u (click)="show_editor = !show_editor">Concluir estudio</u>
                <div class="p-mt-3" *ngIf="show_editor">
                    <form novalidate [formGroup]="conclusionForm" #cform="ngForm" (ngSubmit)="onSubmit()">
                        <p-editor formControlName="conclusion" [style]="{'height':'220px'}"
                            placeholder="Conclusión del estudio" [modules]="toolbar">
                        </p-editor>
                        <span class="error-msg"
                        *ngIf="formErrors.conclusion"><small>{{formErrors.conclusion}}</small></span>
                        <br>
                        <span *ngIf="conclusionForm.value.conclusion"><small>{{3000-conclusionForm.value.conclusion.length}} caracteres restantes</small></span>
                        
                        <div class="p-grid p-jc-end p-mt-5">
                            <div class="p-grid p-formgrid p-fluid">
                                <div class="p-mb-2 p-col-6 p-mb-lg-0">
                                    <button pButton pRipple type="button" label="Volver" class="p-button-secondary"
                                        routerLink="../analysis-requests"></button>
                                </div>
                                <div class="p-mb-2 p-col-6 p-mb-lg-0">
                                    <button pButton pRipple type="submit" [disabled]="sent_form" label="Enviar"></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- YOU CAN VISUALIZE THE CONCLUSIONS FROM FINISHED STUDIES -->
            <div *ngIf="study && study.fkEstudio.estado == 2 && conclusion" class="p-mx-5 p-mt-2">
                <h4>CONCLUSIÓN DEL ESTUDIO</h4>
                <p>
                    <span [innerHTML]="conclusion.conclusiones"></span>
                </p>
            </div>
        </div>

        <div>
            <div class="p-grid p-jc-center">
                <ngx-spinner></ngx-spinner>
            </div>
        </div>

        <!-- STATS -->
        <div *ngIf="!study && !loading && estudioErrorMessage">
            <app-server-disconnected></app-server-disconnected>
        </div>
    </p-card>

    <p-confirmDialog></p-confirmDialog>
    <p-toast></p-toast>
</div>