<app-navigation></app-navigation>

<!-- Existing studies -->
<div class="demo-container p-mx-6 p-p-0 p-p-sm-1 p-p-md-2 p-p-lg-6">
    <p-card>
        <div class="p-grid p-mx-5">
            <div class="p-col-12">
                <h3 class="table-title">ESTADÍSTICAS DEL ESTUDIO</h3>
            </div>
        </div>
        <hr>

        <div *ngIf="study && !loading">
            <div class="p-grid p-mx-5 p-mt-3">
                <button pButton pRipple type="button" icon="pi pi-info" class="p-button-rounded p-button-text"></button>
                <div class="p-mt-2 p-ml-3">
                    Características del estudio
                </div>
            </div>

            <div class="p-mx-5">
                <p>
                    <strong>CATEGORÍA: </strong>{{study.categoria}} <br>
                    <strong>SUBCATEGORÍA: </strong>{{study.subcategoria}} <br>
                    <em *ngIf="study.edad_minima && study.edad_maxima">
                        <strong>EDAD MÍNIMA: </strong>{{study.edad_minima}} <br>
                        <strong>EDAD MÁXIMA: </strong>{{study.edad_maxima}} <br>
                    </em>
                    <em *ngIf="study.nivel_academico">
                        <strong>NIVEL ACADÉMICO: </strong>{{study.nivel_academico}} <br>
                    </em>
                    <em *ngIf="study.nivel_socioeconomico">
                        <strong>NIVEL SOCIOECONÓMICO: </strong>{{study.nivel_socioeconomico}} <br>
                    </em>
                    <em *ngIf="study.genero">
                        <strong>GÉNERO: </strong>{{study.genero}} <br>
                    </em>
                    <em *ngIf="study.tipo_filtro_geografico">
                        <strong>TIPO DE FILTRO GEOGRÁFICO: </strong>{{study.tipo_filtro_geografico}} <br>
                        <strong>LUGARES: </strong>{{study.lugares}} <br>
                    </em>
                    <strong>NÚMERO DE ENCUESTADOS: </strong>{{study.estadisticas.n_personas_respondieron}}
                </p>
            </div>

            <div *ngIf="open_text_questions && open_text_questions.length > 0">
                <h4 class="p-mx-5">RESPUESTAS DE TEXTO ABIERTO</h4>
                <div *ngFor="let pregunta of open_text_questions" class="p-mx-5">
                    <div class="p-grid">
                        <div class="p-col-12 p-lg-10">
                            <p>{{pregunta.pregunta}}</p>
                            <!-- RESPONSES OPEN TEXT -->
                        </div>
                    </div>
                </div>
                <hr>
            </div>

            <div *ngIf="selection_questions && selection_questions.length > 0">
                <h4 class="p-mx-5">RESPUESTAS DE SELECCIÓN</h4>
                <div *ngFor="let pregunta of selection_questions; let i=index" class="p-mx-5">
                    <div class="p-grid" *ngIf="selection_dataset">
                        <div class="p-col-12 p-lg-10">
                            <p>{{pregunta.pregunta}}</p>
                            <!-- RESPONSES SELECTION -->
                            <p-chart type="pie" width="500" [data]="selection_dataset[i]"></p-chart>
                        </div>
                    </div>
                </div>
                <hr>
            </div>

            <div *ngIf="true_false_questions && true_false_questions.length > 0">
                <h4 class="p-mx-5">RESPUESTAS DE VERDADERO Y FALSO</h4>
                <div *ngFor="let pregunta of true_false_questions; let i=index" class="p-mx-5">
                    <div class="p-grid" *ngIf="true_false_dataset">
                        <div class="p-col-12 p-lg-10">
                            <p>{{pregunta.pregunta}}</p>
                            <!-- RESPONSES TRUE FALSE -->
                            <p-chart type="doughnut" width="500" [data]="true_false_dataset[i]"></p-chart>
                        </div>
                    </div>
                </div>
                <hr>
            </div>


            <div *ngIf="range_questions && range_questions.length > 0">
                <h4 class="p-mx-5">RESPUESTAS DE RANGO</h4>
                <div *ngIf="range_questions">
                    <div *ngFor="let pregunta of range_questions; let i=index">
                        <div *ngIf="range_dataset">
                            <div class="p-grid p-mx-5">
                                <div class="p-col-12 p-lg-10">
                                    <p>{{pregunta.pregunta}}</p>
                                    <!-- RESPONSES RANGE -->
                                </div>
                            </div>
                            <div class="p-grid p-mx-5">
                                <p><strong>Promedio Mínimo: </strong>{{range_dataset[i].min_average}}
                                    <br>
                                    <strong>Promedio Máximo: </strong>{{range_dataset[i].max_average}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="p-mx-5">
                <h4>CONCLUSIÓN DEL ESTUDIO</h4>
                <p>
                    <span [innerHTML]="study.conclusion"></span>
                </p>
            </div>
        </div>

        <div>
            <div class="p-grid p-jc-center">
                <ngx-spinner></ngx-spinner>
            </div>
        </div>

        <!-- STATS -->
        <div *ngIf="!study && !loading && estudioErrorMessage">
            <app-server-disconnected></app-server-disconnected>
        </div>
    </p-card>
</div>